
.container {
  background-image: url('../../public/web.jpg');
  padding: 0 1rem;
  margin: -8px;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.main {
  height: 100%;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 81vh;
  letter-spacing: 2px;
}

.header {
  display: flex;
  flex: 1;
  padding: 1.5rem 0;
  border-bottom: 1px solid #eaeaea;
  padding: 5px 30px;
}
.header a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: none;
}

@media only screen and (max-width: 500px) {
  .header {
    display: none;
    
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: #eaeaea 1px solid;
  padding-top: 15px;
}

.menu{
  position: absolute;
  width: 90%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;
  text-align: center;
  transition: 1s ease-in-out ;
}

.menu .item{
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 500px) {
  .nav {
    display: none;
  }
}

.footer {
  border-top: 1px solid #eaeaea;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: #fff8
}

.title {
  margin: 25px 0px;
  line-height: 1.15;
  font-size: 2rem;
  color: #fff;
}

.title a {
  color: #fff8;
  text-decoration: none;
}

.card:hover{
  color: #fff;
}

.title,
.description {
  text-align: center;
}

.description {
  display: 'flex';
  flex: 1;
  align-items: 'center';
  max-width: 700px;
  font-size: 20px;
  line-height: 2.5rem;
}

.description a {
  color: #fff8;
  text-decoration: none;
}


.code {
  background: #fff8;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem 2rem;
  padding: 10px;
  text-align: left;
  color: #fff8;
  background-color: #0008;
  text-decoration: none;
  width: 340px;
  box-shadow: 1px 3px 5px #000;
}

.cardItem {
  height: 220px;
  border: black 1px solid;
}


.visit {
  color: #fff8;
  margin: 0 5px;
  text-decoration: none;
}


.visit:hover{
  text-decoration: underline;
  color: #fff;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

  .flex {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
  }
.skill {
  max-width: 700px;
  color: #fff8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  perspective: 360px;
  padding: 20px 0;
}
.skillItem {
  background-color: #0005;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px 10px;
  margin: 1rem;
  border-radius: 2px;
  box-shadow: 1px 3px 5px #000;
}

.skillItem:hover {
  color: #fff;
}

.skillItem span {
  margin: 0 10px;
}

/*article*/

.content{
  font-family: serif;
}

.content a{
  text-decoration: none;
  color: #009;
}

.article {
  max-width: 650px;
}

.article p {
  font-size: 1.05rem;
}

.article pre {
  background-color: #111a;
  color: #fff;
  font-size: 1rem;
  padding: 15px;
  border-radius: 6px;
  overflow: auto;
}

/* contact*/
.contact {
  color: #fff;
  max-width: 650px;
}

.contact span {
  color: #44e
}
